/*couleur de fond*/
body{
    background-color:white;
}
/*typo*/
header {
    font-family: Arial;
    position: relative; color: white;
}

/*barre de navigation*/
header nav {
    color:#FFFFFF;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color:rgba(0 ,0, 0, 0.8);
}
header nav ul li{
    margin: 0;
    padding: 0;
    /* float: left; */
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    /* background-color:rgba(0 ,0, 0, 0.8); */
}
header nav ul li a{
    display: block;
}
header nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}
header nav ul li ul li{
    display: none;
}
header nav ul li:hover ul li{
    display: block;
}

/*premiere page*/
.hdp{
    display: block; text-align: center; align-content: center;margin-top: 10%;

}
.articles{
    display: flex;
justify-content: space-around;
margin-top: 10%

}
#column{
    flex-direction: column;
}
canvas {
  
    position: fixed;
    z-index: -1 ;
    top: 0;
    left: 0;
    
  }