/*couleur de fond*/
body{
    background-color: rgba(128, 128, 128, 0.979);
}
header{
    font-family: Arial;
}
/*barre de navigation*/
header nav {
    color:#FFFFFF;
}
header nav ul{
    list-style: none;
}
/*premiere page*/
.hdp{
    display: inline; text-align: center; align-content: center;
}
#img{display:block; align-content: center;
}